$primary-color: #061b23;
$primary-bg: #00b4d8;


// Hide scrollbar
::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
}

body, html {
    padding: 0;
    margin: 0;
    // width: 1600px;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;

    main {
        background: rgb(3,4,94);
        background: linear-gradient(0deg, rgba(3,4,94,1) 0%, rgba(0,119,182,1) 25%, rgba(0,180,216,1) 50%, rgba(144,224,239,1) 75%, rgba(144,224,239,1) 81%, rgba(254,250,224,1) 82%);
    }
    

    section {
        position: relative;
        height: 100vh;
        width: 100%;
        z-index: 1;
        //border: 1px solid red;

        &#section1 {
            position: relative;
            z-index: 1;
            
            h1 {
                position: absolute;
                text-align: center;
                width: 100%;
                top: 17%;
                transform: translateY(-10%);
                font-size: 3rem;
            }

            #gotosection1 {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
                
            }

            .bulle {
                position: absolute;
                background-color: #90E0EF;
                z-index: 99;
                border-radius: 50%;
                opacity: 0.5;
            }

            // Pour le haut de la section #fefae0
            .vague {
                position: absolute;
                top: 75%;
                transform: translateY(-75%);
                z-index: 5;
            }

            .bateau {
                position: absolute;
                top: 88%;
                left: 75%;
                transform: translate(-75%, -88%)scale(0.4)rotate(-10deg);
                z-index: 5;
            }

            .nuage {
                position: absolute;
                opacity: 1;

                &.nuage1 {
                    left: 10%;
                    top: 50%;
                    transform: translate(10%,-50%)scale(1.5)rotate(5deg);
                    z-index: 6;
                }
                &.nuage2 {
                    left: 50%;
                    top: 80%;
                    transform: translate(-50%,-80%)scale(1.5);
                    z-index: 4;
                }
                &.nuage3{
                    left: 80%;
                    top: 67%;
                    transform: translate(-80%,-67%) scale(1.5) rotate(-15deg);
                    z-index: 6;
                }
            }
        }
    
        // flux de sang / courant marin
        &#section2 {
            z-index: 100;

            .message {
                left: 50%;
                top: 25%;
                transform: translate(-50%, -25%);
            }

            .plastique {
                position: absolute;
                z-index: 100;
                cursor: pointer;
                
                &.plastique1 {
                    left: -20%;
                    top: -35%;
                    transform: scale(0.22);
                    z-index: 6;
                }

                &.plastique2 {
                    left: -7%;
                    top: -30%;
                    transform: scale(0.22);
                    z-index: 6;
                }

                &.plastique3 {
                    left: -15%;
                    top: -5%;
                    transform: scale(0.22);
                    z-index: 6;
                }
            }

            .virus {
                position: absolute;
                z-index: 100;

                &.virus1 {
                    left: 107%;
                    top: 180%;
                    transform: translate(-107%,-180%) scale(0.3);
                    z-index: 6;
                }
    
                &.virus2 {
                    left: 112%;
                    top: 70%;
                    transform: translate(-112%,-70%) scale(0.4);
                    z-index: 6;
                }

                &.virus3 {
                    left: 87%;
                    top: 90%;
                    transform: translate(-87%,-90%) scale(0.3);
                    z-index: 6;
                }

                &.virus4 {
                    left: 80%;
                    top: 190%;
                    transform: translate(-80%,-190%) scale(0.3);
                    z-index: 6;
                }
            }
        }
    

        // banc de poisson
        &#section3 {
            .message {
                left: 65%;
                top: 75%;
                transform: translate(-65%, -75%);
                width: 30rem;
                
                opacity: 1;
            }
            .poisson, .vitamine {
                position: absolute;
                z-index: 100;
                transition: transform .3s;
            }

            .poisson {
                opacity: 0;
            }
            .poisson1 {
                left: -30%;
                top: -65%;
                transform: translate(30%,65%)scale(0.6);
                z-index: 6;
            }
            .poisson2 {
                opacity: 0;
                left: 130%;
                top: 30%;
                transform: translate(-130%,-30%)scale(0.4);
                z-index: 4;
            }


            .vitamine {
                cursor: pointer;
                z-index: 5;

                &::after {
                    position:absolute;
                    top: 50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    content: "";
                    width: 70%;
                    height: 70%;
                    border-radius: 50%;
                    z-index: -1;
                    transition: .3s;
                }
            }

            @keyframes vitamine {
                0% {
                    width: 70%;
                    height: 70%;
                }
                50% {
                    width: 90%;
                    height: 90%;
                }
                100% {
                    width: 70%;
                    height: 70%;
                }
            }
            .vitamine1 {
                left: 20%;
                top: 100%;
                transform: translate(-20%, -100%)scale(0.2);
                z-index: 6;

                &::after {
                    background: rgba(255, 101, 181, .5);
                    animation: vitamine 2s infinite;
                }
            }
            .vitamine2 {
                left: 30%;
                top: 100%;
                transform: translate(-30%, -100%)scale(0.3);
                z-index: 6;

                &::after {
                    background: rgba(109, 165, 255, 0.5);
                    animation: vitamine 2s .5s infinite;
                }
            }
            .vitamine3 {
                left: 20%;
                top: 135%;
                transform: translate(-20%, -135%)scale(0.3);
                z-index: 6;

                &::after {
                    background: rgb(143, 195, 31, 0.5);
                    animation: vitamine 2s 1s infinite;
                }
            }
            .vitamine4 {
                left: 30%;
                top: 135%;
                transform: translate(-30%, -135%)scale(0.2);
                z-index: 6;

                &::after {
                    background: rgba(226, 161, 255, 0.5);
                    animation: vitamine 2s 1.5s infinite;
                }
            }


        }

       
        &#section4 {
            .message {
                left: 70%;
                top: 55%;
                transform: translate(-70%, -55%);
                width: 40rem;
                opacity: 1;
            }

            
        }

        // video 
        &#section5 {
            background-color: rgb(3,4,94);
            display: flex;
            justify-content: center;
            align-items: center;

            .video16_9 {
                width: 45%;
            }
            .video9_16{ 
                width: 15%;
            }

            div:nth-of-type(2) {
                margin: 0rem 1.5rem;
            }
            div div {
                margin-top: .5rem;
                font-family: "DynaPuff", system-ui;
                color: #fff;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
            }

            video {
                position: relative;
                object-fit: cover;
                border-radius: 16px;
                border: .4rem solid #fff;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                width: 100%;
            }
        }
    }

    .message {
        position: absolute;
        font-family: "DynaPuff", system-ui;
        color: $primary-color;
        z-index: 100;
        width: 34rem;
        opacity: 0;
        transition: .3s;
        font-size: 1.3rem;
        text-align: center;
        transition: .4s;
    }

    #plongeur {
        position: absolute;
        z-index: 1000;
        top: 87%;
        left: 20%;
        transform: translate(-20%, -87%)rotate(-20deg);
        transition: .5s;
        
        img {
            width: 40rem;
        }
    }

    .btn {
        z-index: 100;
        cursor: pointer;
        font-size: 1rem;
        padding: 1rem 2rem;
        color: #fff;
        border-radius: 50rem;
        background-color: $primary-bg;
        align-items: center;
        transition: .3s;

        ion-icon {
            position: relative;
            margin-left: .2rem;
            top: .1rem;
        }
    }

    .flop {
        position: absolute;
        width: 10rem;
        height: 10rem;
        z-index: 100;
    }

    #graduations {
        position: absolute;
        top: 1rem;
        left: 99%;
        transform: translateX(-99%);
        border-radius: 16px;
        height: 490vh;
        width: 3.5rem;
        background: rgb(30,96,145);
        background: linear-gradient(0deg, rgba(30,96,145,1) 0%, rgba(208,0,0,1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 1000;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .graduation {
            text-align: center;
            color: #fff;
            z-index: 101;
        }

        .bar {
            position: absolute;
            top: 2.2rem;
            left: -1rem;
            width: 1.3rem;
            height: .5rem;
            background-color: #000;
            border-radius: 16px;
            z-index: 100;
        }
    }
}